*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-component-container {
    display: flex;
    border: 1px solid lightgray;
}

.weather-component-card-container-today {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;


    h1 {
        color: grey;
    }

    .min-max-container {
        display: flex;
        justify-content: space-between;

        p {
            margin: 10px;
        }

        .max-temp {
            color: black;
            font-size: 32px;
            font-weight: 800;
        }

        .min-temp {
            color: gray;
            font-size: 32px;
            font-weight: 800;
        }
    }
}

.weather-component-card-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {
        color: grey;
    }

    .min-max-container {
        display: flex;
        justify-content: space-between;

        p {
            margin: 10px;
        }

        .max-temp {
            color: black;
            font-size: 32px;
            font-weight: 800;
        }

        .min-temp {
            color: gray;
            font-size: 32px;
            font-weight: 800;
        }
    }
}
